<h1>Why do we need your Facebook account?</h1>
<p>For the only purpose of providing you with potential roommates selected from your friends or your friends of friends: People you know</p>
<p>Reviews can be posted anonymously, you do not need to be logged in</p>
