<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>X project</title>
    <link href="/stylesheets/simple.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <table class="stripe_set">
      <td class="stripe_border"></td>
      <td class="stripe_content">
        <div align="center"><font size="50">X logo</font></div>
        <!-- <img class="logo" alt="x project logo" border="0" src="/images/x.png"> -->
        <h1 class="sublogo">X project</h1>

        <%= yield %>

        <hr>
        <div class="footer">
          <p>Copyright &copy; 2011 X project. Dario &amp; Riccardo Turchetto Productions</p>
        </div>

      </td>
      <td class="stripe_border"></td>
    </table>
  </body>
</html>
